@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color: hsl(0, 100%, 74%);
    background-image: url(images/bg-intro-desktop.png);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
}

.left {
    display: block;
    width: 500px;
    margin: 0 55px;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2.8rem;
    color: #fff;
    line-height: 55px;
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 16px;
    padding-top: 30px;
    line-height: 25px;
}


/*-----------------------------RIGHT-----------------------*/

.right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    min-height: 100vh;
    align-items: center;
    top: 0;
}

.btn-top {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    padding: 20px 25px;
    background-color: hsl(248, 32%, 49%);
    color: white;
    border-radius: 10px;
    border: none;
    box-shadow: 0 8px #d36563;
    outline: none;
    cursor: pointer;
    width: 100%;
}

.btn-top:hover {
    background-color: hsl(250, 34%, 31%);
}

#form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 6px rgba(0, 0, 0, 0.2);
    padding: 40px;
    margin-bottom: 20px;
    margin-top: 25px;
    text-align: center;
    width: 100%;
}

input {
    border-radius: 5px;
    border: 1.3px solid hsl(246, 25%, 77%);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    display: block;
    width: 100%;
    height: 50px;
    outline: none;
    color: #303030;
    flex-direction: column;
    padding-left: 30px;
}

input:placeholder-shown {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: gray;
    padding: 0 30px;
}

input:focus {
    border: 1px solid hsl(248, 32%, 49%);
}


/*----------------------ERROR MESSAGE----------------*/

small {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 20px;
    margin-top: 5px;
}

.form-mng {
    position: relative;
}

.form-mng img {
    opacity: 0;
    position: absolute;
    top: 30%;
    right: 15px;
    transform: translateY(-50%);
    height: 20px;
}

.form-mng.error img {
    opacity: 1;
}

.form-mng small {
    opacity: 0;
}

.form-mng.error small {
    opacity: 1;
}

.form-mng.error input {
    border-color: hsl(0, 100%, 74%);
    color: hsl(0, 100%, 74%);
}

.form-mng.error input::placeholder {
    color: hsl(0, 100%, 74%);
}

.form-mng small {
    color: hsl(0, 100%, 74%);
    font-weight: 600;
    position: absolute;
    z-index: 10;
    right: 0;
    opacity: 0;
    text-align: right;
}


/*----------------------BUTTON BOMTTOM--------------*/

.btn-bottom {
    background-color: hsl(154, 59%, 51%);
    width: 100%;
    height: 45px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    box-shadow: 0 4px #42B380;
    outline: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.btn-bottom:active,
.btn-top:active {
    border-bottom-width: 1px;
    transform: translateY(2px);
}

.btn-bottom:hover {
    background-color: hsl(154, 57%, 46%);
}

.box-small {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.small-letters {
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    font-weight: 500;
    color: rgb(182, 182, 182);
    text-align: center;
    margin-top: -20px;
    color: #aaa;
}


/*-----------------MEDIA QUERIES-------------------------*/

@media screen and (max-width: 768px) {
    main {
        width: 100%;
        text-align: center;
        justify-content: center;
        margin-top: 100px;
    }
    h1 {
        font-size: 2rem;
        line-height: 40px;
    }
    p {
        font-size: 1rem;
        padding-top: 20px;
    }
    .right {
        width: 85%;
    }
    .btn-bottom {
        margin: 8px auto;
    }
    .btn-top {
        padding: 30px 45px;
    }
}